<div class="container-fluid body">
  <div class="row">
    <section class="vh-100">
      <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5">
                <img src="/assets/img/addantlogowhite.svg" class="img-fluid mx-auto d-block" />
                <h3 class="mb-3 text-center">Admin</h3>

                <div class="form-outline mb-4">
                  <label class="form-label" for="typeEmailX-2">Username</label>
                  

                  <input type="email" id="name" name="name" formControlName="name" placeholder="Your Username" required minlength="1" maxlength="250" class="form-control form-control-md" [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                    <div *ngIf="name.errors?.['required']">
                      This field is required.
                    </div>
                    <div *ngIf="name.errors?.['minlength']">
                      This field must have at least 1 character.
                    </div>
                    <div *ngIf="name.errors?.['maxlength']">
                      This field must have at most 250 characters.
                    </div>
                  </div>



                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="typePasswordX-2">Password</label>
                  

                  <div class="input-group  has-validation">
                    <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" formControlName="password" placeholder="Your Password" required minlength="15" class="form-control form-control-md" [class.is-invalid]="password.invalid && (password.dirty || password.touched)">
                
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                      <div *ngIf="password.errors?.['required']">
                        This field is required.
                      </div>
                      <div *ngIf="password.errors?.['minlength']">
                        This field must have at least 15 characters.
                      </div>
                    </div>
                  </div>
                  
                </div>
                <button type="button" class="btn  login-btn btn-md btn-block w-100" (click)="validate()" [disabled]="">Login</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>












































           

